* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.center{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 18px;
}
.header{
    text-align: center;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    background-image:linear-gradient(rgba(0, 0, 0, 0.246),black),url(software-engineer-portfolio.jpg);
    background-position: center;
}
.header img{
    margin-top: 15px;
}
.header p {
    color:rgb(245, 245, 245);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
