* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.center{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 18px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.header{
    text-align: center;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    background-image:linear-gradient(rgba(0, 0, 0, 0.246),black),url(software-engineer-portfolio.jpg);
    background-position: center;
}
.header img{
    margin-top: 15px;
}
.header p {
    color:rgb(184, 216, 216);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-me{
    width: 50%;
    float: left;
    letter-spacing: 1px;
    line-height: 1.75rem;
    font-size:20px;
    text-align:left-align;
}
.hobbies{
    float: left;
    position: relative;
    width: 45%;
    text-decoration: none;
    margin-bottom: 2px;
    margin-left: 25px;
}
.hobbies-list img{
    height: 60px;
    width: 70px;
    border-radius: 50%;
    margin: 10px;
    float:left; 
}
.hobbies-text{
    margin-top: 20px;
    margin-left: 10px;
    float:left;
}
.projects{
    float:left;
    width: auto;
    letter-spacing: 1px;
    line-height: 1.75rem;
    font-size: 18px;
}
.header a{
    text-decoration: none;
    color: rgb(65, 160, 189);
    font-size: 18px;
}
h2{
    color:teal;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bold;
}
h3{
    color:rgb(0, 51, 51);
    margin-bottom: 5px;
}
.projects a{
    text-decoration: none;
    color: rgb(65, 160, 189);
}